{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load jalali_tags %}

{% block title %}
    {% if object %}
        ویرایش کار
    {% else %}
        ایجاد کار جدید
    {% endif %}
{% endblock %}

{% block content %}
    <div id="wrapper">

        {% include 'account/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'account/top_navbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800 mx-auto IranBold text-center">
                            {% if object %}
                                <div>ویرایش کار</div>
                                <hr>
                                <div class="text-muted small mt-2">تاریخ ایجاد:‌ {{ object.created|to_jalali:'14%y/%m/%d' }}</div>
                            {% else %}
                                ایجاد کار جدید
                            {% endif %}
                        </h1>
                    </div>
                    
                    <div class="col-xl-10 col-lg-7 mx-auto text-right">
                        <div class="card shadow mb-4">
                            <!-- Card Header -->
                            <div class="card-header py-3 d-flex bg-primary flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-light IranBold">
                                    {% if object %}
                                        ویرایش کار
                                    {% else %}
                                        ایجاد کار جدید
                                    {% endif %}
                                </h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <form method="post" class="needs-validation" novalidate>
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            {{ form.title|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            {{ form.memo|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row mb-4">
                                        <div class="col-md-12">
                                            <label for="id_important" class="form-check-label ml-3">
                                                مهم
                                            </label>
                                            <input type="checkbox" name="important" class="checkboxinput form-check-input" id="id_important">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-block IranBold" type="submit">ذخیره</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
{% endblock %}