{% extends 'base.html' %}
{% load static %}
{% load base_tags %}

{% block title %}لیست تودوها{% endblock %}

{% block content %}
    <div id="wrapper">

        {% include 'account/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column IranBold">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'account/top_navbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">لیست کارهای حاضر</h1>
                    </div>

                    <!-- Content Row -->

                    <div class="row">
                        <!-- ُTodo List -->
                        <div class="col-xl-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">لیست کارهای حاضر</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body text-center">
                                    {% if object_list %}
                                        <div class="table-responsive rounded">
                                            <table class="table table-hover">
                                                <thead class="text-white bg-info">
                                                    <tr>
                                                        <th scope="col">عنوان</th>
                                                        <th scope="col">توضیحات</th>
                                                        <th scope="col">مهم</th>
                                                        <th scope="col"> </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="sfont">
                                                    {% for todo in object_list %}
                                                        <tr {% if todo.important %} class="table-danger"{% endif %}>
                                                            <td>{{ todo.title }}</td>
                                                            {% if todo.memo %}
                                                                <td>
                                                                    <details>
                                                                        <summary>توضیحات</summary>
                                                                        <p>{{ todo.memo }}</p>
                                                                    </details>
                                                                </td>
                                                            {% else %}
                                                                <td></td>
                                                            {% endif %}
                                                            {% if todo.important %} 
                                                                <td>*</td> 
                                                            {% else %}
                                                                <td></td>
                                                            {% endif %}
                                                            <td>
                                                                {% if not todo.datecomplete %}
                                                                    <a class="btn btn-sm btn-primary font-weight-bold mb-2 mb-md-0" href="{% url 'todo:todo_update' todo.pk %}" style="padding: 5px 15px;">ویرایش</a>
                                                                {% endif %}
                                                                    <a class="btn btn-sm btn-danger font-weight-bold mb-2 mb-md-0 " href="{% url 'todo:todo_delete' todo.pk %}" style="padding: 5px 20px;">حذف</a>
                                                                {% if todo.datecomplete is None %}
                                                                    <form class="d-inline " method="POST" action="{% url 'todo:completetodo' todo.pk %}">
                                                                        {% csrf_token %}
                                                                        <button class="btn btn-success btn-sm font-weight-bold mb-2 mb-md-0" id="complete" type="submit" style="padding: 5px 18px;">تکمیل</button>
                                                                    </form>
                                                                {% else %}
                                                                    <div class="badge badge-info font-weight-bold " style="padding: 10px 15px;"><span>کامل شد</span></div>
                                                                {% endif %}
                                                            </td>
                                                        </tr>                                                  
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-info">
                                            <span>شما در حال حاضر کاری برای انجام دادن ندارید.</span>
                                        </div>
                                            <a href="{% url 'todo:todo_create' %}" class="btn btn-primary btn-block">اضافه کردن </a>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Paginator -->
                            {% if is_paginated %}
                                <nav dir='ltr' aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                        {% endif %}
                                        {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="active page-item">
                                                    <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                        {% else %}
                                            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span><a href='https://github.com/ysnalpr/ToDo_Project_FA' target="_blank" class="text-dark">سورس کد</a></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
{% endblock %}